<!DOCTYPE html>
{% load static %}
<html lang="ko">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>이봉사</title>

    <!-- Favicon -->
    <link href="{% static 'image/pucova.ico' %}" rel="shortcut icon" />
    <link href="{% static 'image/pucova.ico' %}" rel="icon" />

    <link rel="stylesheet" href="{% static 'css/main_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/for_main.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <script src="{% static 'js/d3.min.js' %}" type="text/JavaScript"></script>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script>
    function XSS_Filter(strTemp, level) {
      if (level == undefined || level == 0) {
        strTemp = strTemp.replace(/\<|\>|\"|\'|\%|\;|\(|\)|\&|\+|\-/g, "");
      }
      else if (level != undefined && level == 1) {
        strTemp = strTemp.replace(/\</g, "&lt;");
        strTemp = strTemp.replace(/\>/g, "&gt;");
      }
      return strTemp;
    }
    </script>

    <script async defer type="text/javascript"
        src="http://maps.googleapis.com/maps/api/js?key=AIzaSyD5sRAJgDzlXZrYVgvDC4TYVEnEpEe-Abg&sensor=false">
        </script>
    <script type="text/javascript">
        function gogo(area, region) {
            const area_ful = {
                '강원': '강원도', '경기': '경기도', '경남': '경상남도', '경북': '경상북도', '광주': '광주광역시', '대구': '대구광역시', '대전': '대전광역시',
                '부산': '부산광역시', '서울': '서울특별시', '세종': '세종특별자치시', '울산': '울산광역시', '인천': '인천광역시', '전남': '전라남도',
                '전북': '전라북도', '제주': '제주특별자치도', '충남': '충청남도', '충북': '충청북도'
            }
            const except_r = [
                '포항시 남구', '포항시 북구', '포항시', '전주시 완산구', '전주시 덕진구', '전주시', '청주시', '청주시 상당구',
                '청주시 서원구', '청주시 청원구', '청주시 흥덕구'
            ]
            const regions = {
                'seouls': '서울', 'busans': '부산', 'gangwons': '강원', 'gyeongnams': '경남', 'gyeongbuks': '경북', 'gwangjus': '광주', 'daegus': '대구', 'daejeons': '대전',
                'busans': '부산', 'sejongs': '세종', 'ulsans': '울산', 'incheons': '인천', 'jeonnams': '전남', 'jeonbuks': '전북', 'jejus': '제주', 'chungnams': '충남',
                'chungbuks': '충북'
            }
            area = regions[area]
            var a_1365 = '{% static 'DB/1365/' %}' + area_ful[area] + '/' + region + '.csv';
            var a_vms = '{% static 'DB/VMS/' %}' + area + '/' + area_ful[area] + ' ' + region + '.csv';
            //var csv_list = new Array;
            const csv_list = [a_1365, a_vms];

            d3.csv(a_vms, function (data1) { initialize(data1); });
            function initialize(data) {

                var myOptions = {
                    center: new google.maps.LatLng(37.5647673, 126.7086641),
                    zoom: 12.75,
                    mapTypeId: google.maps.MapTypeId.ROADMAP

                };
                var map = new google.maps.Map(document.getElementById("default"),
                    myOptions);
                //console.log(data);

                // var locations_obj = data;
                // locations_obj = JSON.stringify(data);

                setMarkers_v(map, data);
                d3.csv(a_1365, function (data2) {
                    setMarkers_1(map, data2)
                });
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(function (position) {
                        var pos = {
                            lat: position.coords.latitude,
                            lng: position.coords.longitude
                        };
                        map.setCenter(pos);
                    }, function () {
                        handleLocationError(true, infoWindow, map.getCenter());
                    });
                } else {
                    // Browser doesn't support Geolocation
                    handleLocationError(false, infoWindow, map.getCenter());
                }


            }

            function setMarkers_v(map, locations) {

                var marker, i

                for (i = 0; i < locations.length; i++) {

                    var titl = locations[i]['제목']
                    var lat = locations[i]['lat']
                    var long = locations[i]['lng']
                    var inst = locations[i]['모집기관']
                    var addr = locations[i]['formatted_address']
                    var dates = locations[i]['봉사기간']

                    latlngset = new google.maps.LatLng(lat, long);

                    var marker = new google.maps.Marker({
                        map: map, title: titl, position: latlngset, icon: {
                            url: "http://maps.google.com/mapfiles/ms/icons/red-dot.png"
                        }
                    });
                    map.setCenter(marker.getPosition())


                    var content = '<h2 style="color:purple;"><b>VMS</b><br></h2><h2>제목: ' + titl + '</h2><br>' + "모집기관: " + inst + "<br>봉사기간: " + dates

                    var infowindow = new google.maps.InfoWindow()

                    google.maps.event.addListener(marker, 'click', (function (marker, content, infowindow) {
                        return function () {
                            infowindow.setContent(content);
                            infowindow.open(map, marker);
                        };
                    })(marker, content, infowindow));

                }
            }
            function setMarkers_1(map, locations) {

                var marker, i

                for (i = 0; i < locations.length; i++) {

                    var titl = locations[i]['제목']
                    var lat = locations[i]['lat']
                    var long = locations[i]['lng']
                    var inst = locations[i]['모집기관']
                    var addr = locations[i]['formatted_address']
                    var dates = locations[i]['봉사기간']

                    latlngset = new google.maps.LatLng(lat, long);

                    var marker = new google.maps.Marker({
                        map: map, title: titl, position: latlngset, icon: {
                            url: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
                        }
                    });
                    map.setCenter(marker.getPosition())


                    var content = '<h2 style="color:blue;"><b>1365</b><br></h2><h2>제목: ' + titl + '</h2><br>' + "모집기관: " + inst + "<br>봉사기간: " + dates

                    var infowindow = new google.maps.InfoWindow()

                    google.maps.event.addListener(marker, 'click', (function (marker, content, infowindow) {
                        return function () {
                            infowindow.setContent(content);
                            infowindow.open(map, marker);
                        };
                    })(marker, content, infowindow));

                }
            }
        }



    </script>
</head>

<!-- <body onload="gogo('{% static 'DB/1365/서울특별시/종로구'%}')"> -->

<body onload="gogo('{{area}}', '{{region}}')">
    <div class="sidenav">
        <div class="sidenav_wrap">
            <div id="img_sec">
                <div class="img_sec1">
                    <a href="/">
                        <img src="{% static 'image/pucova_logo.png' %}">
                    </a>
                </div>
            </div>
            <ul class="main-menu">
                <li><a href="/">Pucova</a></li>
                <li class="active"><a href="/about">소개</a></li>
            </ul>
            <section id="tit_sel">
                <div class="tit_sel1">
                    <p>지역선택</p>
                </div>
            </section>
            <section id="main_sel">
                <div class="sel3">
                    <form method="POST" class="post-form" action="/get" style="vertical-align: middle;">
                        {% csrf_token %}
                        <select class="stg" name="area" onchange="categoryChange(this)">
                            <option>도시 선택</option>
                            <option value="seouls">서울특별시</option>
                            <option value="busans">부산광역시</option>
                            <option value="daejeons">대전광역시</option>
                            <option value="daegus">대구광역시</option>
                            <option value="incheons">인천광역시</option>
                            <option value="gwangjus">광주광역시</option>
                            <option value="ulsans">울산광역시</option>
                            <option value="sejongs">세종특별자치시</option>
                            <option value="gyeonggis">경기도</option>
                            <option value="gangwons">강원도</option>
                            <option value="chungbuks">충청북도</option>
                            <option value="chungnams">충청남도</option>
                            <option value="jeonbuks">전라북도</option>
                            <option value="jeonnams">전라남도</option>
                            <option value="gyeongbuks">경상북도</option>
                            <option value="gyeongnams">경상남도</option>
                            <option value="jejus">제주특별자치도</option>
                        </select>
                        <select class="stg" id="region" name="region">
                            <option>시군구 선택</option>
                        </select>
                        <input class="btn btn-default" type="submit" value="넘기기">
                    </form>
                </div>
            </section>
            <div id="rem_sel">
                <div class="rem_sel1">
                    <p style="font-size:9pt;">* 빨간색 : VMS / 파란색 : 1365</p>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright">©2019 Pucova All rights reserved</div>

    <div style="margin-left:300px; padding:60px;">
        <div class="animated jackInTheBox" style="border:1px solid #828282; padding:10px;">
        <h1 style="font-size:55px; font-weight: bold; color:#3d3d3d; text-decoration: underline;">이봉사</h1>
        <div class="about-wrap" style="padding:40px 20px 30px 30px;">
            <p style="line-height:3em; color:#686868; text-align: justify;">「이봉사」는 ‘이(利)’로운 ‘봉사’라는 뜻을 가짐과 동시에, 개발자 2인의 성씨 '이'와 '봉사'를 합쳐서 나온 명칭입니다.<br /> 
            「이봉사」는 청년들의 봉사활동을 돕기 위해 만들어진 통합 봉사 검색 프로그램입니다.<br />
            현재 봉사 활동을 하기 위해서는 1365나 VMS와 같은 봉사활동 사이트에 접속하여 찾아봐야 합니다. <br /> 
            「이봉사」는 그러한 불편함을 해소하고자 만든 프로그램으로, 여러 봉사활동사이트에 있는 봉사모집 공고문을 한 화면에 통합하여 보여주는 프로그램입니다. <br />
            지도서비스를 활용하여 지도 위에 봉사자를 모집하는 기관의 위치를 띄워주는 기능도 있습니다. <br /> 
            &nbsp;이 기능을 활용하여 봉사하기를 원하는 분들이 손쉽게 주변에 위치한 봉사시설 등을 확인할 수 있습니다. <br /> 
            그리고 봉사활동을 찾기 위해 소요되는 시간을 대폭 줄일 수가 있습니다.<br /> 
            </p>
        </div>
    </div>
    <a href="/view">
        <button class="animated jackInTheBox" type="button" style="background-color: #ffffff; border-radius: 5px; color:black; margin:10px 10px 0 0;
        width: 200px;cursor: pointer;line-height: 1.4;padding: 10px; border:1px solid black;">서비스 이용하기 Go!</button>
    </a>
    </div>
    <script>
        function categoryChange(e) {
            var region_seouls = ["종로구", "중구", "용산구", "성동구", "광진구", "동대문구", "중량구", "성북구", "강북구", "도봉구", "노원구", "은평구", "서대문구", "마포구",
                "양천구", "강서구", "구로구", "금천구", "영등포구", "동작구", "관악구", "서초구", "강남구", "송파구", "강동구",
            ];
            var region_busans = ["해운대구", "부산진구", "사상구", "사하구", "중구", "서구", "동구", "영도구", "동래구", "남구", "북구", "금정구", "강서구", "연제구", "수영구", "기장군"];
            var region_daejeons = ["동구", "중구", "서구", "유성구", "대성구"];
            var region_daegus = ["중구", "동구", "서구", "남구", "북구", "수성구", "달서구", "달성군"];
            var region_incheons = ["중구", "동구", "미추홀구", "연수구", "남동구", "부평구", "계양구", "서구", "강화군", "옹진군"];
            var region_gwangjus = ["동구", "서구", "남구", "북구", "광산구"];
            var region_ulsans = ["중구", "남구", "동구", "북구", "울주군"];
            var region_sejongs = [] = ["세종시"];
            var region_gyeonggis = [] = ["수원시", "성남시", "고양시", "용인시", "부천시", "안산시", "안양시", "남양주시", "화성시", "평택시", "의정부시",
                "시흥시", "파주시", "광명시", "김포시", "군포시", "광주시", "이천시", "양주시", "오산시", "구리시", "안성시", "포천시", "의왕시", "하남시",
                "여주시", "양평군", "동두천시", "과천시", "가평군", "연천군",
            ];
            var region_gangwons = [] = ["춘천시", "원주시", "강릉시", "동해시", "태백시", "속초시", "삼척시", "홍천군", "횡성군", "영월군", "평창군", "정선군",
                "철원군", "화천군", "양구군", "인제군", "고성군", "양양군",
            ];
            var region_chungbuks = [] = ["청주시", "충주시", "제천시", "보은군", "옥천군", "영동군", "증평군", "진천군", "괴산군", "음성군", "단양군",];
            var region_chungnams = [] = ["천안시", "공주시", "보령시", "아산시", "서산시", "논산시", "계룡시", "당진시", "금산군", "부여군", "서천군", "청양군",
                "홍성군", "예산군", "태안군",
            ];
            var region_jeonbuks = [] = ["전주시", "군산시", "익산시", "정읍시", "남원시", "김제시", "완주군", "진안군", "무주군", "장수군", "임실군",
                "순창군", "고창군", "부안군",
            ];
            var region_jeonnams = [] = ["목포시", "여수시", "순천시", "나주시", "광양시", "담양군", "곡성군", "구례군", "고흥군", "보성군", "화순군",
                "장훈군", "강진군", "해남군", "영암군", "무안군", "함평군", "영광군", "장성군", "완도군", "진도군", "신안군",
            ];
            var region_gyeongbuks = [] = ["포항시", "경주시", "김천시", "안동시", "구미시", "영주시", "영천시", "상주시", "문경시", "경산시", "군위군",
                "의성군", "청송군", "영양군", "영덕군", "청도군", "고령군", "성주군", "칠곡군", "예천군", "봉화군", "울진군", "울릉군",
            ];
            var region_gyeongnams = [] = ["창원시", "진주시", "통영시", "사천시", "김해시", "밀양시", "거제시", "양산시", "의령군", "함안군", "창녕군",
                "고성군", "남해군", "하동군", "산청군", "함양군", "거창군", "합천군",
            ];
            var region_jejus = [] = ["제주시", "서귀포시"];

            var target = document.getElementById("region");

            if (e.value == "seouls") var d = region_seouls;
            else if (e.value == "busans") var d = region_busans;
            else if (e.value == "daejeons") var d = region_daejeons;
            else if (e.value == "daegus") var d = region_daegus;
            else if (e.value == "incheons") var d = region_incheons;
            else if (e.value == "gwangjus") var d = region_gwangjus;
            else if (e.value == "ulsans") var d = region_ulsans;
            else if (e.value == "sejongs") var d = region_sejongs;
            else if (e.value == "gyeonggis") var d = region_gyeonggis;
            else if (e.value == "gangwons") var d = region_gangwons;
            else if (e.value == "chungbuks") var d = region_chungbuks;
            else if (e.value == "chungnams") var d = region_chungnams;
            else if (e.value == "jeonbuks") var d = region_jeonbuks;
            else if (e.value == "jeonnams") var d = region_jeonnams;
            else if (e.value == "gyeongbuks") var d = region_gyeongbuks;
            else if (e.value == "gyeongnams") var d = region_gyeongnams;
            else if (e.value == "jejus") var d = region_jejus;
            target.options.length = 0;

            for (x in d) {
                var opt = document.createElement("option");
                opt.value = d[x];
                opt.innerHTML = d[x];
                target.appendChild(opt);
            }
        }
    </script>
</body>

</html>