<!DOCTYPE html>
{% load static %}
<head lang="ko">
    <meta charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>이봉사</title>

    <!-- Favicon -->
	<link href="{% static 'image/pucova.ico' %}" rel="shortcut icon" />
	<link href="{% static 'image/pucova.ico' %}" rel="icon" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=East+Sea+Dokdo|Noto+Sans+KR&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <script src="{% static 'js/code.js' %}"></script>
</head>
<body>
    <section id="puco-intro">
        <video src="{% static 'video/엄마_딸_휠체어.mp4' %}" id="puco-intro-bg-video" autoplay loop muted></video>
    </section>

    <div id="puco-intro-overlay">
        <div class="container">
            <div id="puco-intro-content">
                <div id="puco-intro-content-inner" class="text-left">
                    <div id="puco-intro-heading" class="animated fadeInRight">
                        <h1 id="puco-intro-heading-1">편리한</h1>
                        <h1 id="puco-intro-heading-2">통합 봉사 검색 서비스
                        <span>이봉사</span></h1 >
                    </div>
                    <div id="puco-intro-text">
                        <p class="animated fadeInLeft" style="font-size:28pt; padding-top:10px; font-family: 'East Sea Dokdo', cursive;">"남을 행복하게 하는 것은 향수를 뿌리는 것과 같다.<br>
                            뿌리는 자에게도 그 향이 묻어나기 때문이다"
                            <!-- 「이봉사」는 VMS와 1365 사이트를 통합하여 봉사자들에게 편리함을 제공합니다.<br />
                             -->
                        </p>
                    </div>
                    <div id="puco-intro-btn" class="animated fadeInUp">
                        <a href="/view" class="btn btn-general" role="button">시작하기</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>